In [1]:
import pandas as pd

In [17]:
df = pd.read_excel('../data/2022.xlsx', sheet_name='202301')

In [7]:
df.columns

Index(['店舗CD', '店舗', 'グループCD', 'グループ', '累計売上高', '累計日割', '昨年累計売上高同規模同日',
       '昨年累計売上高同規模同曜', '累計客数', '昨年累計客数同規模同日', '昨年累計客数同規模同曜', '累計点数',
       '昨年累計点数同規模同日', '昨年累計点数同規模同曜'],
      dtype='object')

In [28]:
df['累計売上高'].str.replace(',', '').replace('\xa0', '0').astype(float)

0       596247.0
1        24859.0
2         7564.0
3         4977.0
4         7422.0
          ...
2366      1280.0
2367       203.0
2368       174.0
2369      1360.0
2370         0.0
Name: 累計売上高, Length: 2371, dtype: float64

In [22]:
df.tail(10)

,店舗CD,店舗,グループCD,グループ,累計売上高,累計日割差,昨年累計売上高同規模同日,昨年累計売上高同規模同曜,累計客数,昨年累計客数同規模同日,昨年累計客数同規模同曜,累計点数,昨年累計点数同規模同日,昨年累計点数同規模同曜
2361,NaN,NaN,187,スポージアム,287,71,82,83,,,,147,46,47
2362,NaN,NaN,211,グロサリー,2,,,,,,,10,,
2363,NaN,NaN,327,ステーショナリー,140,95,32,32,,,,179,20,20
2364,NaN,NaN,375,ホームファッション,"2,987","-4,181","3,105","3,085",,,,988,"1,029","1,032"
2365,NaN,NaN,380,アプライアンス,"1,454",258,"2,005","1,995",,,,109,167,166
2366,NaN,NaN,381,ビューティ,"1,280",-608,947,994,,,,476,294,303
2367,NaN,NaN,382,ファーマシー,203,-328,100,110,,,,165,57,63
2368,NaN,NaN,384,デイリーコンビニエンス,174,54,17,20,,,,676,28,32
2369,NaN,NaN,388,パンドラ,"1,360",842,60,40,,,,76,3,2
2370,,,,,,,,,,,,,,

In [25]:
df.loc[2362, '累計日割差']

'\xa0'